@charset "utf-8";

/* ----------------------------------------------
 * portfolio Stylesheet
 * Author - ranbong0804@gmail.com
------------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
* {box-sizing:border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, select, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {margin:0;padding:0;font-size:100%;}
img, fieldset, button{border:0;}
article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
/* body, input, button, textarea, select, table, kbd{line-height:1.2; font-family:Malgun Gothic, '맑은고딕', Helvetica, sans-serif; font-size:12px; color:#000;} */
img {vertical-align:middle;}
ol, ul {list-style:none;}
a {text-decoration:none; color:#333;}
a:hover, a:focus, a:active {color:#333;}
button, label {cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0;}
table {border-collapse:collapse;border-spacing:0;}

/* Styles
-------------------------------------------------------------- */
.fL {float:left;}
.fR {float:right;}
.clearFix {zoom:1;}
.clearFix:after {content:'';display:block;clear:both;}

html, body {width:100%;height:100%;background:#643a7a;font-family:'Gamja Flower', sans-serif;-ms-overflow-style:none;overflow:auto;}

#wrap {position:relative;display:flex;justify-content:center;align-items:center;height:100%;}
.frame {display:flex;justify-content:center;align-items:center;width:100%;max-width:1200px;height:800px;background:#201c29;border-radius:2px;box-shadow:8px 16px 16px rgba(0,0,0,0.6);overflow:hidden;}
.frame h1 {color:#888;margin:50px 0 0 0;text-align:left;font-size:36px;letter-spacing:10px;}
.frame dl {margin:0 auto;overflow:hidden;border-bottom:1px solid #dedede;padding:25px 0;}
.frame dt {float:left;/* width:260px; */margin:0;padding:13px 0 0 0;text-align:left;font-size:23px;}
.frame dt small {display:block;font-size:18px;padding-top:5px;}
.frame dd {margin:0 0 0 160px;padding:13px 0 0 0;font-size:23px;}
.frame dd a {color:inherit;word-break:break-all;}
.frame-box {perspective:1000px;padding:16px;width:80%;height:78%;max-width:960px;box-shadow:10px 10px 0 1px #643a7a;background:linear-gradient(178deg, #ef2f96, #ad2fed, #ad2fed, #d53070);background-size:600% 600%;-webkit-animation:background 7s ease infinite;animation:background 7s ease infinite;}

.frame-box .frame-inner {position:relative;width:100%;height:100%;transition:transform 0.6s;transform-style:preserve-3d;transition:all 0.7s ease-in-out;}
.frame-box:hover .frame-inner {transform:rotateY(180deg);}
.portfolio-front, .portfolio-back {position:absolute;width:100%;height:100%;backface-visibility:hidden;}
.portfolio-front {background:#201c29;transition:opacity 1s ease-in-out;}
.portfolio-front .title-k {position:absolute;top:105px;left:-5px;background:url(../images/title.png) no-repeat;width:100%;height:100%;background-size:99% 80%;}
.portfolio-back {width:100%;height:100%;padding:0 30px 20px 30px;background:#000;color:#fff;transform:rotateY(180deg);overflow-y:auto;opacity:0;transition:opacity 1s ease-in-out;}
.frame-box:hover .portfolio-front {backface-visibility:hidden;opacity:0;}
.frame-box:hover .portfolio-back  {backface-visibility:visible;opacity:1;}

.frame .portfolio-back::-webkit-scrollbar {width:6px;}
.frame .portfolio-back::-webkit-scrollbar,
.frame .portfolio-back::-webkit-scrollbar-thumb {overflow:visible;border-radius:4px;}
.frame .portfolio-back::-webkit-scrollbar-thumb {background:rgba(255, 255, 255, .6);}
.frame .cover-bar {position:absolute;top:0;right:0;width:6px;height:100%;background:#000;-webkit-transition:all .5s;transition:all .5s;}
.frame-box:hover .cover-bar {opacity:0;}

@-webkit-keyframes background {
    0%, 100% {background-position:0% 13%}
    50% {background-position:100% 88%}
}
@keyframes background {
    0%, 100% {background-position:0% 13%}
    50% {background-position:100% 88%}
}




