@charset "utf-8";

/* --------------------------------------------
 * HanbitSoft Service Development Team
 * 신규음원 이벤트 Stylesheet
 * Author - njs2000@hanbitsoft.co.kr 20161115
----------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, select, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption{margin:0; padding:0; font-size:100%;}
img, fieldset, button{border:0;}
article, aside, figcaption, figure, footer, header, menu, nav, section{display:block;}
body, input, button, textarea, select, table, kbd{line-height:1.2; font-family:Malgun Gothic, '맑은 고딕', '돋움', dotum, Helvetica, sans-serif; font-size:12px; color:#000;}
img{vertical-align:middle;}
ol, ul{list-style:none;}
a{text-decoration:none; color:#000;}
a:hover, a:focus, a:active{text-decoration:none; color:#181c26;}
button, label{cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0;}
table{border-collapse:collapse; border-spacing:0;}
caption, legend{width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; visibility:hidden;}

/* Reserved Class
-------------------------------------------------------------- */
.irPm{display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;}
.irWa{display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1;}
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.fL{float:left;}
.fR{float:right;}
.clearFix{zoom:1;}
.clearFix:after{clear:both; display:block; content:'';}

/* Styles
-------------------------------------------------------------- */
#wrap{width:100%;min-width:320px;;background:url(../images/m/bg.jpg) no-repeat 50% 0;background-size:800px 1558px; background-color:#000000;}

#wrap .inner{position:relative;width: 350px;height:1558px;margin:0 auto;}

.home{position:absolute;right:17px;top:17px;width:64px;height:27px;background:url(../images/m/btn_home.png) no-repeat 0 0;background-size:64px 27px;}
.home a{display:block;width:100%;height:100%;}

.update_wrap{overflow:auto;}
.update_wrap::-webkit-scrollbar{display: none;}
.update{width:360px;height:168px;margin:615px auto 0 auto;padding:0 25px 0;transition-property: -webkit-transform; transform: translate3d(0, 0px, 0px);}
.update li{position:relative;float:left;width:110px;height:110px; text-align:center;margin:0 5px;box-shadow: 3px 3px 5px #252525;}

.update .album{position:relative;left:0;top:0;width:100%;height:100%;}
.update .album .music_wrap{width:110px;height:110px;}
.update .album .music_wrap img{width:110px;height:110px}

.update .album .singer,
.update .album .tit{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;word-wrap:break-word;}
.update .album .tit{ margin:8px 0 3px;font-size:11px;color:#ff917e}
.update .album .singer{ font-size:9px;color:#878787}
.update .album .btn_play_pause{position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;display:inline-block;width:49px; height:49px;background:url(../images/m/spr_play_state.png) no-repeat 0 0;background-size:100px 49px;text-indent:-9999px;color:transparent;font-size:0;}
.update .album .btn_play_pause.on{background-position:-51px 0;}
.update .album .mplay_btn{display:none;position:absolute;left:50%;top:50%;width:64px;height:64px;margin:-32px 0 0 -32px; background:url(../images/m/spr_play_state.png) no-repeat 0 0;text-indent:-9999px;color:transparent;font-size:0;}
.btn_top{display:none;position:fixed;right:0;bottom:0;;background-color:red; text-align:center;}
.btn_top span{display:flex;width:50px;height:50px;justify-content:center;  align-items:center}

@media all and (max-width:320px){
	#wrap .inner{width: 320px;}
	.update{padding:0 10px 0}
}